<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
    <title>Coronavirus Tracker</title>
</head>
<body>
<div class="title">
    <h1>Coronavirus Tracker</h1>
</div>
<div class="data-container">
    <div class="box-data">
        <div class="data-total">
            <h2 id="total-cases" th:text="${totalReportedCases}">1000</h2>
            <h3 id="case-title">Total reported cases</h3>
            <h2 id="total-new-cases" th:text="${totalNewCases}">0</h2>
            <h3 style="margin-bottom: 0.5em;">New cases reported since yesterday</h3>
        </div>
        <div class="top-countries">
            <H2>Top 5 worst hit places</H2>
            <table class="top-countries-table">
                <tr th:each="map : ${topCountries}">
                    <td th:text="${map.key}"></td>
                    <td th:text="${map.value}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="table-outer-container">
        <div id="search-div">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="search" id="search" placeholder="Type here to search"/>
        </div>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th> </th> <!-- Empty for id -->
                    <th>Country</th>
                    <th>State</th>
                    <th>Total cases reported</th>
                    <th>New cases since previous day</th>
                </tr>
                <tr th:each="data : ${locationStats}">
                    <td th:text="${data.id}">1</td>
                    <td th:text="${data.country}">India</td>
                    <td th:text="${data.state}">Karnataka</td>
                    <td th:text="${data.latestCaseData}">0</td>
                    <td th:text="${data.previousDayDifference}">0</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--Jquery to filter countries-->
<script th:inline="javascript">

    $("#search").keyup(function () {
        let value = this.value.toLowerCase().trim();

        $(".table").find("tr").each(function (index) {
            if (index === 0) return;
            let id = $(this).find("td").text().toLowerCase().trim();
            $(this).toggle(id.indexOf(value) !== -1);
        });

    });

</script>
</body>
</html>